html,
* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary: rgba(0, 56, 255, 1);
  --accent: rgba(110, 65, 226, 1);
  --responsive-grid: repeat(auto-fit, minmax(100px, 49%));
}

/** BARRA DE NAVEGACIÓN Y MENÚS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 30px;
}

.menu {
  font-size: 1.5rem;
  cursor: pointer;
}

.fullscreen-menu {
  display: none;
  top: 0;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: white;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 1;
  background: black;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.close-button:hover {
  color: gray;
}

.menu-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.menu-links {
  user-select: none;
  display: grid;
  place-items: center;
  grid-gap: 1.5rem;
  list-style: none;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

/* HERO WELCOME */

.hero {
  display: grid;
  place-items: center;
  grid-template-columns: var(--responsive-grid);
  grid-gap: 1rem;
  padding: 1rem;
  height: 80vh;
}

.hero-info {
  display: grid;
  grid-gap: 1rem;
  place-items: start;
}

.hero-info__title {
  color: var(--primary);
}

.hero-info__paragraph {
  font-size: 1.3rem;
}

.button {
  background: var(--accent);
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 5.76px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.8;
}

.hero-image {
  width: 80%;
}

/* Footer */

.footer {
  height: 15vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -4px 4px 1px #00000040;
  padding: 1rem;
}

.footer>.brand {
  width: 300px;
}

.contact-box {
  display: flex;
  align-items: center;
}

.contact-box>ul {
  width: 100%;
  display: grid;
  place-items: center;
  grid-gap: 1rem;
}

.social-box {
  font-size: 2rem;
}

@media screen and (max-width: 850px) {
  .hero {

    grid-template-columns: none;
  }
}


/* Catalogo */

.shop-header {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}

/* filtro de categorías */

.category-filter {
  position: relative;
  display: grid;
  grid-gap: 0.5rem;
  box-shadow:
    0px 2.7325103282928467px 10.930041313171387px 0px rgba(51, 51, 51, 0.08),
    0px 2.7325103282928467px 2.7325103282928467px 0px rgba(51, 51, 51, 0.04);
  max-width: 200px;

}

.category-filter>select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  padding: 0.2rem;
}

.category-filter>i {
  position: absolute;
  right: 10px;
  top: 40%;
}

.category-filter>label {
  font-size: 0.9rem;
  color: rgba(17, 17, 17, 0.48);
}

/* Barra de busqueda */
.search-bar {
  position: relative;
  box-shadow:
    0px 3.6815288066864014px 14.726115226745605px 0px rgba(51, 51, 51, 0.08),
    0px 3.6815288066864014px 3.6815288066864014px 0px rgba(51, 51, 51, 0.04);
  max-width: 400px;

}

.search-bar>input {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 0.8rem 1.5rem;
  border: none;
}

.search-bar>i {
  position: absolute;
  top: 30%;
  left: 5px;
}


/* Tarjeta de producto */

.product-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
}

.product-card {
  display: grid;
  grid-gap: 1rem;
  box-shadow: 0px 4px 30px 0px rgba(104, 117, 130, 0.14);
  padding: 1rem;
  border: 1px solid rgba(227, 227, 227, 1);
  border-radius: 5px;
  max-width: 400px;
  min-width: 100%;
}

.product-card__image {
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-review {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.shopping-add {
  border: 1px solid black;
  padding: 0.6rem;
  border-radius: 80px;
  width: 41px;
  height: 41px;
  cursor: pointer;
}